body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 100vh;
  overflow-y: auto; /* Make body scrollable */
  overscroll-behavior: none; /* Prevent scrolling from affecting parent containers */
}

canvas {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 800 / 600; /* Maintain a 4:3 aspect ratio */
  touch-action: none; /* Disable touch events */
}

#audioToggle,
#refreshButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  touch-action: manipulation; /* Allow touch interactions specifically for these buttons */
  flex-shrink: 0; /* Prevent the button from shrinking */
  transition: transform 0.6s; /* Add transition for the click animation */
}

#audioToggle:focus,
#refreshButton:focus {
  outline: none;
}

.animated-click {
  transform: rotate(360deg); /* Rotate the button 360 degrees on click */
}

.animated-click-end {
  transform: rotate(360deg); /* Keep the button rotated after the click */
}

#canvasContainer {
  position: relative; /* Important: This positions the #info div correctly */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 800 / 600;
  border: 5px solid white;
  padding: 5px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  touch-action: none; /* Disable touch events */
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid white;
}

#info {
  position: absolute;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 10px;
  bottom: 10px;
  right: 10px;
  z-index: -1; /* Ensure it is behind other elements */
}

#message {
  margin-top: 10px;
  color: white;
  font-family: Arial, sans-serif;
  white-space: pre-wrap; /* Enable word wrapping and preserve whitespace */
  width: 100%;
  max-width: 800px;
  height: 100%;
  flex-shrink: 1; /* Allow the element to shrink if needed */
  overflow-y: auto; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Ensure smooth scrolling on iOS */
  border: 5px solid white;
  padding: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

#title {
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 100%;
  max-width: 800px;
  flex-grow: 1; /* Allow the title to take up all available space */
}
